* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 'Poppins', sans-serif;
}

.table-c {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: max-content;
}

th, td {
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    height: 30px;
}

fieldset {
    margin-bottom: 1.5rem;
    border: 0;
    display: inline-block; vertical-align: middle;
}

form {
    text-align: center;
    align-items: center;
    margin-block-end: 1em;
}

input[type="submit"] {
    width: auto;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

section {
    padding: 1.5rem 0;
}

section:first-child {
    background-color: #333;
}

section:nth-child(odd):not(section:first-child) {
    background-color: #e1d7cd;
}

input, select {
    padding: 3px;
    font-size: 1.1em;
    border: 1px solid #bbb;
}

#yearInput {
    width: 50px;
    margin-left: 5px;
    text-align: center;
}

.header-c {
    text-align: center;
    background-image: linear-gradient(#fff 50%, #bbb 0, #bbb 55%, #fff 0);
}

.header-c-text {
    background-color: #fff;
    display: inline-block;
    padding: 0 1.5rem;
}

p {
    margin: 0 0 1em;
}

h3 {
    margin-bottom: 1em;
}

.wrapper {
    padding: 0 1em;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.a-top {
    color: #fff;
}

img {
    height: 64px;
    width: 64px;
}

.icons-wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
}

.icons-link {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.icons-text {
    display: inline-block;
    font-weight: 500;
    padding: 0 0 0 .5rem;
}

.interest-div {
    padding: 1.5em 0;
}

.interest-div:first-child {
    border-bottom: 1px dotted #bbb;
}

.interest-form {
    text-align: left;
    align-items: left;
    margin-block-end: 1em;
}

.interest-input {
    max-width: 100px;
}

label {
    margin-left: 10px;
}

legend {
    font-size: 1.1em;
}


@media (min-width: 48em) {
    img {
        height: 100%;
        width: 100%;
    }

    .icons-div {
        display: flex;
    }

    .icons-link {
        flex-basis: 20%;
        flex-flow: column nowrap;
    }

    .icons-text {
        padding: .5rem 0 0 0;
    }

    .interest-wrapper {
        display: flex;
    }

    .interest-div {
        width: 50%;
        flex-flow: column nowrap;
        padding: 0 2em;
    }

    .interest-div:first-child {
        border-right: 1px dotted #bbb;
        border-bottom: none;
    }
}