* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.table-c {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: center;
    vertical-align: bottom;
    padding: 3px;
}

form {
    text-align: center;
    align-items: center;
    margin-block-end: 1em;
    font-size: large;
    font-weight: bold;
    height: 30px;
}

input {
    font-size: large;
    font-weight: bold;
    width: 50px;
    border: thin dashed black;
    border-width: 1px;
    margin-left: 5px;
    /* height: 30px; */
    text-align: center;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

section {
    padding: 1.5rem 0;
}

section:first-child {
    background-color: #333;
}

section:nth-child(odd):not(section:first-child) {
    background-color: #e1d7cd;
}

.header-c {
    text-align: center;
    background-image: linear-gradient(#fff 50%, #bbb 0, #bbb 55%, #fff 0);
}

.header-c-text {
    background-color: #fff;
    display: inline-block;
    padding: 0 1.5rem;
}

p {
    margin: 0 0 1em;
}

h3 {
    margin-bottom: 1em;
}

.wrapper {
    padding: 0 1em;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #15c;
    text-decoration: none;
}

img {
    height: 64px;
    width: 64px;
}

.icons-wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
}

.icons-link {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.icons-text {
    display: inline-block;
    font-weight: 500;
    padding: 0 0 0 .5rem;
}

.interest-form {
    padding: 1.5em 0;
}

.interest-form:first-child {
    border-bottom: 1px dotted #bbb;
}

@media (min-width: 48em) {
    img {
        height: 100%;
        width: 100%;
    }

    .icons-div {
        display: flex;
    }

    .icons-link {
        flex-basis: 20%;
        flex-flow: column nowrap;
        max-width: 160px;
    }

    .icons-text {
        padding: .5rem 0 0 0;
    }

    .interest-div {
        display: flex;
    }

    .interest-form {
        width: 50%;
        flex-flow: column nowrap;
        padding: 0 2em;
    }

    .interest-form:first-child {
        border-right: 1px dotted #bbb;
        border-bottom: none;
    }
}